html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: -apple-system, Roboto, NanumSquare, sans-serif; */
  /* font-family: NanumSquare, sans-serif; */
  font-size: 18px;
}

a {
  /* color: inherit; */
  color: var(--link_blue);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --naver_green: #57B93C;
  --link_blue: #2769BD;
  --link_purple: #8D3196;    /* (링크 한 번 클릭 후 변하는 보라색) */
  --dark_gray_1: #020202;    /* (view name)  */
  --dark_gray_2: #424242;    /* (contents) */
  --publisher_gray: #666666;           /* (publisher) */
  --date_gray: #8F8F8F;     /* (date) */
  --background: #FFFFFF;     /* 수정하기 */
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  /* src: url("/fonts/NanumSquare.ttf") format("truetype"); */
  /* src: url("public/nanum-square/NanumSquareL.ttf") format("truetype"); */
  src: url("/fonts/NanumSquareL.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 400;
  /* src: url("/fonts/NanumSquare.ttf") format("truetype"); */
  src: url("/fonts/NanumSquareR.ttf") format("truetype");
}