.all {
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    /* color: rgba(255, 0, 0, 1); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.publishInfo {
    display: flex;
    flex-direction: row;
}

.publisherImgBoarder {
    width: 24px;
    height: 24px; 
    border: 1px solid #F3F3F3;
    border-radius: 10rem;
}

.publisherImg {
    border-radius: 10rem;
}

.publisher {
    color: var(--publisher_gray);
    font-size: 14px;
    font-weight: 500;
}

.verticalDivider {
    border-left: 1px solid rgba( 225, 225, 225, 1 );
    height: 12px;
    margin: 0;
    margin-left: 8px; 
    margin-right: 8px; 
    margin-top: 4px; 
}

.date {
    font-size: 14px;
    color: var(--date_gray);
}

.title {
    font-size: 18px;
    font-weight: 500;
    color:rgba( 39, 105, 189, 1 );
}

.contentsInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top:7px; 
    /* margin-top: 12px;  */
}

.contents {
    /* flex-basis: 626px; */
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
    color: var(--dark_gray_2);
    /* flex: 200; */
}

.contentsImgBoarder {
    flex-basis: 88px;
    flex-shrink: 0;
    width: 88px;
    height: 88px; 
    border: 1px solid #F3F3F3;
    margin-left: 20px; 
    /* flex: 1 88px;  */
}

/* .divider {
    border-top: 1px solid #EDF0F2;
    margin: 0;
} */
