.stickyHeader { 
    position: sticky;
    top: 0;
    transition: all .3s;
    background-color:#F1EDEB;
    width: 100%;
    
    border: 1px solid #E3E5E8;
    border-bottom: none;
    border-top-width: 2px;
    border-top-color: #BBBEC6;

    z-index: 5;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    width: fit-content;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    color:rgba(107,112,122,0.8);
    width: fit-content;
}

.btnmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 10px;
}

.firstunselectedMenu {
    border: none;
    background-color: inherit;
    font-size: 15px;
    color:#6b707a;
    padding: 0;
    padding-right: 11px;
}

.unselectedMenu {
    border: none;
    background-color: inherit;
    font-size: 15px;
    color:#6b707a;
    padding: 6px 11px 6px 11px;
}

.selectedMenu {
    background-color: #9e9e9e;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 6px 11px 6px 11px;
}

.titlebar {
    background-color: rgba(135,142,154,0.3);
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-left: 8px;
    margin-right: 8px;
    /* vertical-align: top; */
    color: rgba(107,112,122,0.8);
}

.tabbar {
    background-color: rgba(135,142,154,0.3);
    display: inline-block;
    width: 1px;
    height: 16px;
    vertical-align: -2px;
    margin-right: 4px;
}

.contents {
    border: 1px solid #E3E5E8;
    border-top: none;
}

.relimg{
    margin: -9px -24px 0px;
    padding-bottom: 9px;
    position: relative;
    overflow: hidden;
    display: block;
    letter-spacing: -0.3px;
}

.relimg .count{
    bottom: 21px;
    display: inline-block;
    position: absolute;
    padding: 0 5px 0 7px;
    right: 12px;
    height: 27px;
    line-height: 28px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    border: solid 1px rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

.relimg .count .countimg{
    display: inline-block;
    overflow: hidden;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: -4px;
}

.relimg .imgscroll{
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-bottom: -10px;
    display: block;
}

.relimg .imgscroll .imglist{
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.relimg .imgscroll .imglist .imgli:only-child{
    width: calc(100% - 18px);
}

.relimg .imgscroll .imglist .imgli:last-child{
    margin-right: 9px;
}

.relimg .imgscroll .imglist .imgli:first-child{
    margin-left: 9px;
}

.relimg .imgscroll .imglist .imgli{
    display: inline-block;
    vertical-align: top;
}

.relimg .imgscroll .imglist .imgli+.imgli{
    margin-left: 1px;
}

.relimg .imgscroll .imglist .imgli .thumb{
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    height: 168px;
    vertical-align: top;
}

.relimg .imgscroll .imglist .imgli:only-child .thumb{
    width: 100%;
}

.relimg .imgscroll .imglist .imgli:only-child .thumb .thumbimg{
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}

.relimg .imgscroll .imglist .imgli .thumb .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.relimg .imgscroll .imglist .imgli .thumb .time{
    display: inline-block;
    position: absolute;
    right: 8px;
    bottom: 7px;
    line-height: 15px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    z-index: 3;
}

.middletitle{
    position: relative;
    overflow: hidden;
    display: block;
    color: #000;
    letter-spacing: -0.3px;
}

.morelink{
    display: flex;
    color: inherit;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
}

.morelinktitle{
    padding: 9px 30px 0 0;
    line-height: 23px;
    font-size: 1.0rem;
    letter-spacing: -0.3px;
    margin: 0;
    display: block;
    font-weight: bold;
}

.morelinkicon{
    display: inline-block;
    margin: 9px 0 0 0;
    overflow: hidden;
    vertical-align: top;    
    color: transparent;
    width: 18px;
    height: 16px;
}


.detailinfo{
    margin-top: 8.5px;
    position: relative;
    padding-bottom: 5px;
    z-index: 2;
    display: block;
    letter-spacing: -0.3px;
}

.detailinfo .infotxt{
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
}

.detailinfo .infotxt .infogroup{
    padding-left: 15px;
    position: relative;
}

.detailinfo .infotxt .infodt{
    float: left;
    margin-bottom: 2px;
    padding-right: 11px;
    letter-spacing: -0.3px;
    color: #8f8f8f;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}


.detailinfo .infotxt .infogroup:first-child .bar{
    border-radius: 10px 10px 0 0;
}

.detailinfo .bar{
    background-color: rgba(135,142,154,0.2);
    display: inline-block;
    position: absolute;
    top: 5px;
    bottom: -7px;
    left: 0px;
    width: 3px;
    height: auto;
    opacity: 0.9;
}

.detailinfo .infotxt .infogroup .infodd{
    padding-right: 7px;
    margin-left: 79px;
}

.detailinfo .infotxt .infodd{
    overflow: hidden;
    margin-bottom: 2px;
    color: #424242;
    word-break: break-word;
    margin: 0;
    padding: 0;
    margin-inline-start: 40px;
    font-size: 0.9rem;
}

.textexpand{
    padding-top: 6px;
    margin-top: 4.5px;
    margin-bottom: 0;
    margin: 8px 0 0;
    letter-spacing: -0.3px;
    position: relative;
    line-height: 1.7rem;
    color: #424242;
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: top;
}

.introbox{
    padding: 8.5px 0px 15.5px;
    line-height: 1.7rem;
    color: #424242;
    overflow: hidden;
    display: -webkit-box;
    max-height: 12rem;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    word-break: break-all;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: -0.3px;
    font-size: 0.9rem;
}

.btnArea {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    height: 45px;
}

.mapbtnArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fafbfc;
    border: 1px solid #e3e6e8;
    border-radius: 3px;
    width: 100%;
    /* padding: 10px; */
    font-size: 16px;
    font-weight: 400;
    color: #424242;
}

.mapIcon{
    width: 16px;
    height: 21px;
    margin-right: 4px;
}

.sharebtnArea{
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #e3e6e8;
    border-radius: 3px;
    width: 45px;
    flex-shrink: 0;
    margin-left: 6px; 
    cursor: pointer;
}

.shareIcon{
    position: absolute;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scrollbox{
    padding-top: 9.5px;
    overflow: hidden;
    margin: 0 -24px -4px;
    padding-bottom: 4px;
    display: block;
    letter-spacing: -0.3px;
}

.scrollbox .listinfo{
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-bottom: -10px;
}

.scrollbox .listinfo .infoul{
    display: table;
    padding-top: 1px;
    padding-left: 16px;
    padding-right: 16px;
    border-spacing: 9px 0;
    border-collapse: separate;
    table-layout: fixed;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    padding-bottom: 5px;
    list-style: none;
    margin: 0;
}

.scrollbox .listinfo .infoul>li:first-child{
    margin-left: 0;
}

.scrollbox .listinfo .infoul>li{
    display: table-cell;
    height: 1px;
    position: relative;
    background-color: #fff;
    white-space: normal;
    vertical-align: top;
    z-index: 2;
}

.scrollbox .listinfo .infoul>li .areacard{
    height: 100%;
    box-shadow: 0 2px 3px 0 rgba(155, 168, 174, 0.08), 0 0 2px 0 rgba(136, 148, 158, 0.3);
    display: block;
}

.scrollbox .infoul>li .titlebox{
    display: table;
    width: 100%;
    padding: 9px 11px 9px;
    border-spacing: 0;
    letter-spacing: -0.3px;
    table-layout: fixed;
    box-sizing: border-box;
}

.scrollbox .infoul>li .titlebox .name{
    overflow: hidden;
    display: -webkit-box;
    max-height: 4rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    word-wrap: break-word;
    color: var(--G-color-text2);
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.3rem;
    color: #242424;
}

.scrollbox .infoul>li .titlebox .subtext{
    overflow: hidden;
    display: -webkit-box;
    max-height: 4rem;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    word-wrap: break-word;
    color: #8f8f8f;
    font-size: 0.7rem;
    line-height: 1.1rem;
}

.proinfobox{
    padding: 10.5px 0px 15px;
    display: block;
    letter-spacing: -0.3px;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.proinfobox .proinfotxt{
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
}

.proinfobox .proinfotxt .infogroup{
    position: relative;
}

.proinfobox .proinfodt{
    float: left;
    padding-left: 14px;
    margin-bottom: 3px;
    color: #8f8f8f;
    white-space: nowrap;
}

.proinfobox .proinfodt .bar{
    background-color: rgba(135,142,154,0.2);
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 3px;
    bottom: -7px;
    height: auto;
    opacity: 0.9;
    border-radius: 10px;
}

.proinfobox .proinfodd{
    overflow: hidden;
    padding-left: 12px;
    margin-bottom: 3px;
    color: #424242;
    display: block;
    margin-inline-start: 40px;
}

.moviephotolist{
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    letter-spacing: -0.3px;
    box-shadow: 0 2px 3px 0 rgba(155, 168, 174, 0.08), 0 0 2px 0 rgba(136, 148, 158, 0.3);
    -webkit-text-size-adjust: none;
    color: #000;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.moviephotolist .gridbox{
    position: relative;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    font-size: 0;
    line-height: 0;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.showMore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #424242;
    font-weight: 500;
}

.showMore .img {
    margin-left: 8px;
}


.imgscroll  {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.imgscroll::-webkit-scrollbar {
    width: 0 !important;
    display: none; /* Chrome, Safari, Opera*/
}

.listinfo {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.listinfo::-webkit-scrollbar {
    width: 0 !important;
    display: none; /* Chrome, Safari, Opera*/
}