.stickyHeader { 
    position: sticky;
    top: 0;
    transition: all .3s;
    background-color:#F1EDEB;
    width: 100%;
    
    border: 1px solid #E3E5E8;
    border-bottom: none;
    border-top-width: 2px;
    border-top-color: rgba(145,120,103,0.5);

    z-index: 5;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    width: fit-content;
}

.category {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    color:rgba(107,112,122,0.8);
    width: fit-content;
}

.btnmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.firstunselectedMenu {
    border: none;
    background-color: inherit;
    font-size: 15px;
    color:#6b707a;
    padding: 0;
    padding-right: 11px;
}

.unselectedMenu {
    border: none;
    background-color: inherit;
    font-size: 15px;
    color:#6b707a;
    padding: 6px 11px 6px 11px;
}

.selectedMenu {
    background-color: #9e9e9e;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 6px 11px 6px 11px;
}

.titlebar {
    background-color: rgba(135,142,154,0.3);
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 4px 9px 0;
    vertical-align: top;
    color: rgba(107,112,122,0.8);
}

.tabbar {
    background-color: rgba(135,142,154,0.3);
    display: inline-block;
    width: 1px;
    height: 16px;
    vertical-align: -2px;
    margin-right: 4px;
}

.contents {
    border: 1px solid #E3E5E8;
    border-top: none;
}

.relimg{
    margin: -9px -24px 0px;
    padding-bottom: 9px;
    position: relative;
    overflow: hidden;
    display: block;
    letter-spacing: -0.3px;
}

.relimg .count{
    bottom: 21px;
    display: inline-block;
    position: absolute;
    padding: 0 5px 0 7px;
    right: 12px;
    height: 27px;
    line-height: 28px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    border: solid 1px rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

.relimg .count .countimg{
    display: inline-block;
    overflow: hidden;
    color: transparent;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: -4px;
}
.child{
    bottom: 21px;
    display: inline-block;
    position: absolute;
    padding: 0 5px 0 7px;
    right: 12px;
    height: 27px;
    line-height: 28px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    border: solid 1px rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
}

.childimg{
    display: inline-block;
    overflow: hidden;
    color: transparent;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    vertical-align: -4px;
}

.childnum{
    line-height: 28px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
}

.scroll{
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: -10px;
    display: block;
}

.scrollul{
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.scrollli{
    display: inline-block;
    vertical-align: top;
}

.scrollul .scrollli:first-child{
    margin-left: 9px;
}

.scrollthumb{
    position: relative;
    overflow: hidden;
    display: block;
    cursor: pointer;
}


.middletitle{
    padding: 0 15px;
    position: relative;
    overflow: hidden;
    display: block;
    color: #000;
    letter-spacing: -0.3px;
}

.morelink{
    display: flex;
    color: inherit;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
}

.morelinktitle{
    padding: 9px 30px 0 0;
    line-height: 23px;
    font-size: 1.0rem;
    letter-spacing: -0.3px;
    margin: 0;
    display: block;
    font-weight: bold;
}

.morelinkicon{
    display: inline-block;
    margin: 9px 0 0 0;
    overflow: hidden;
    vertical-align: top;    
    color: transparent;
    width: 18px;
    height: 16px;
}


.detailinfo{
    padding: 0 30px;
    margin-top: 8.5px;
    position: relative;
    padding-bottom: 5px;
    z-index: 2;
    display: block;
    letter-spacing: -0.3px;
}

.infotxt{
    line-height: 1.8rem;
    padding-left: 15px;
    margin: 0;
    padding: 0;
    display: block;
}

.infogroup{
    position: relative;
    display: block;
}

.infogroupdt{
    float: left;
    letter-spacing: -0.3px;
    color: #8f8f8f;
    margin: 0;
    padding: 0;
}

.infogroupdd{
    overflow: hidden;
    color: #424242;
    word-break: break-word;
    margin: 0;
    padding: 0;
    margin-inline-start: 80px;
}

.bar{
    border-radius: 10px 10px 0 0;
    background-color: rgba(135,142,154,0.2);
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -15px;
    bottom: -7px;
    width: 3px;
    height: auto;
    opacity: 0.9;
}

.textexpand{
    overflow: visible;
    left: -15px;
    padding-top: 6px;
    margin-top: 4.5px;
    margin-bottom: 0;
    margin: 8px 0 0;
    letter-spacing: -0.3px;
    position: relative;
    display: block;
    line-height: 1.8rem;
    color: var(--G-color-text3);
    word-wrap: break-word;
    word-break: break-all;
}

.buttonarea{
    padding: 0 15px 6px;
    margin-top: 8px;
    display: flex;
    position: relative;
    margin: 14px 0 0;
    width: 100%;
}

.buttonbox{
    flex: 1;
    display:block
}

.buttonboxul{
    width: 100%;
    display: table;
    background-color: #fafbfc;
    border: 1px solid #e3e6e8;
    list-style: none;
    margin: 0;
    padding: 0;
}

.buttonboxli{
    font-size: 1.6rem;
    display: table-cell;
    position: relative;
    color: rgba(0, 0, 0, 0.87);
}

.buttonboxa{
    display: block;
    line-height: 2.4rem;
    white-space: nowrap;
    font-weight: normal;
    color: #424242;
    letter-spacing: -0.3px;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
}

.buttonareaicon{
    display: inline-block;
    overflow: hidden;
    color: transparent;
    width: 16px;
    height: 21px;
    margin-right: 4px;
    vertical-align: -4px;
}

.scrollbox{
    padding-top: 9.5px;
    overflow: hidden;
    margin: 0 -24px -4px;
    padding-bottom: 4px;
    display: block;
    letter-spacing: -0.3px;
    overflow: hidden;
}

.listinfo{
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: -10px;
}

.scrollboxul{
    display: table;
    padding-top: 1px;
    padding-left: 16px;
    padding-right: 16px;
    border-spacing: 9px 0;
    border-collapse: separate;
    table-layout: fixed;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
    padding-bottom: 5px;
    list-style: none;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.scrollboxli{
    margin-left: 0;
    display: table-cell;
    height: 1px;
    position: relative;
    background-color: #fff;
    white-space: normal;
    vertical-align: top;
    z-index: 2;
    width: 87px;
    margin: 0;
    padding: 0;
    border-spacing: 9px 0;
    border-collapse: separate;
}

.areacard{
    height: 100%;
    box-shadow: 0 2px 3px 0 rgba(155, 168, 174, 0.08), 0 0 2px 0 rgba(136, 148, 158, 0.3);
    display: block;
}

.titlebox{
    display: table;
    width: 100%;
    padding: 9px 11px 9px;
    border-spacing: 0;
    letter-spacing: -0.3px;
    table-layout: fixed;
    box-sizing: border-box;
}

.titleboxname{
    overflow: hidden;
    display: -webkit-box;
    max-height: 4rem;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    word-wrap: break-word;
    color: var(--G-color-text2);
    font-size: 1.0rem;
    font-weight: normal;
    line-height: 1.4rem;
    color: #242424;
}

.titleboxsubtext{
    overflow: hidden;
    display: block;
    max-height: 4rem;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    word-wrap: break-word;
    margin: 3px 0 0 0;
    color: var(--G-color-text5);
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-top: 3px;
    color: #8f8f8f;
}