.stickyHeader { 
    position: sticky;
    transition: all .3s;

    top: 0;
    background-color:#F1EDEB;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: hidden;
    border-top-width: 2px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 0;
    border-top-color: rgba(145,120,103,0.5);
    border-right-color: #E3E5E8;
    border-left-color: #E3E5E8;
    border-bottom-color: #F1EDEB;
    width: 100%;
}

.dramaName {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark_gray_1);
}

.dramaCategory {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    color:#968577;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    font-size: 15px;
    font-weight: 400;
    color:#7E695A;
}

.firstunselectedMenu {
    padding-right: 11px;
}

.unselectedMenu {
    padding: 6px 11px 6px 11px;
}

.selectedMenu {
    background-color: #7E695A;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 6px 11px 6px 11px;
}

.verticalDivider {
    border-left: 1px solid #D2C9C4;
    height: 16px;
    margin: 0;
    /* margin-left: 12px; 
    margin-right: 12px;  */
    margin-top: 2px; 
}

.contents {
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-color: #E3E5E8;
    border-left-color: #E3E5E8;
    border-bottom-color: #E3E5E8;
}