.stickyHeader { 
    position: sticky;
    top: 0;
    transition: all .3s;
    background-color:#F1EDEB;
    width: 100%;
    
    border: 1px solid #E3E5E8;
    border-bottom: none;
    border-top-width: 2px;
    border-top-color: rgba(145,120,103,0.5);
}

.dramaName {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark_gray_1);
}

.dramaCategory {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    color:#968577;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    font-size: 15px;
    font-weight: 400;
    color:#7E695A;
}

.firstunselectedMenu {
    padding-right: 11px;
}

.unselectedMenu {
    padding: 6px 11px 6px 11px;
}

.selectedMenu {
    background-color: #7E695A;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 6px 11px 6px 11px;
}

.verticalDivider {
    border-left: 1px solid #D2C9C4;
    height: 16px;
    margin: 0;
    margin-top: 2px; 
}

.contents {
    border: 1px solid #E3E5E8;
    border-top: none;
}