.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    width: 100%;
    aspect-ratio: 1;
}
.grid_item{
    display: flex;
    position: relative;
    aspect-ratio: 1;
}