.imageScrollerBasic{  
    margin: 10px -18px 5px -18px;
    max-width: 766px;
}

.imageScrollerTimeLine {
    margin: 12px -18px 11px 0px;
    max-width: 766px;
}

.imageScrollerInfluencer{  
    margin: 0px -18px 0px -18px;
    max-width: 766px;
}

.imageScrollerContainer{
    height: 100%;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    list-style: none;
    overflow: auto;
    padding-left: 0px;
}

.imageScrollerContainerBasic :first-child {
    margin-left: 18px;
}

.imageScrollerContainerBasic :last-child {
    margin-right: 18px;
}

.imageScrollerContainerTimeLine :first-child {
    margin-left: 0px;
}

.imageScrollerContainerTimeLine :last-child {
    margin-right: 18px;
}

.imageScrollerContainerInfluencer :first-child {
    margin-left: 18px;
    border-radius: 6px 0 0 6px;
}

.imageScrollerContainerInfluencer :last-child {
    margin-right: 18px;
    border-radius: 0 6px 6px 0;
}

.imageScrollerItem {
    display: inline-block;
    position: relative;
    vertical-align: top;
    white-space: normal;
}

.imageScrollerItemBasic {
    height: 78px;
    margin-left: 3px;
}

.imageScrollerItemTimeLine {
    height: 78px;
    margin-left: 2px;  
}

.imageScrollerItemInfluencer {
    height: 96px;
    margin-left: 2px;    
}


