.typ_grey {
  color: grey;
  font-weight: 600;
  display: flex;
  margin-top: 3px;
  margin-bottom: 3px;
}
.typ_black {
  color: grey;
  font-weight: 200;
}
.fanicon_before {
  width: 68px;
  height: 30px;
  float: right;
  margin-right: 18px;
}
.fanicon_after {
  width: 52px;
  height: 30px;
  float: right;
  margin-right: 18px;
}
.blogicon {
  width: 15px;
  height: 15px;
  margin: auto 0;
}
.flex2 {
  float: left;
}
.flex_allign {
  display: flex;
}
.header {
  color: grey;
  font-size: 14px;
  margin-left: 2px;
  /* margin-top: 5px; */
}
.header_sub {
  color: grey;
  font-size: 14px;
  float: left;
  /* line-height: 1.5rem; */
}
.header_sub_lft {
  color: grey;
  font-size: 14px;
  margin-left: 4px;
  float: left;
}
.flexend {
  float: right;
  justify-content: right;
  margin-left: 200px;
}
.contenttitle:hover {
  text-decoration: underline;
  color: #0c43b7;
}

.contenttitle_rightend {
  text-align: right;
  font-size: 0.8rem;
}
.contenttitle_rightend:hover {
  text-decoration: underline;
  color: #0c43b7;
}

.title {
  /* margin-top: 5px; */
  font-weight: 700;
  color: #242424;
  font-size: 14px;
}
.subheader {
  font-size: 14px;
  color: #666;
  font-weight: 700;
}
.detailsdepth {
  font-size: 14px;
  color: #666;
  margin-left: 10px;
}
.magintop {
  margin-top: 6px;
}
.image {
  width: 87px;
  height: 87px;
  margin-left: 18px;
  margin-right: 18px;
  /* transition: all 0.2s ease-in-out; */
}
.image:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
}
.image img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.rightend {
  text-align: right;
  color: '#0c43b7';
  font-size: 17px;
}
.right {
  margin-left: 250px;
}
.influencer {
  font-size: 17px;
  font-weight: 700;
  margin-left: 18px;
  float: left;
}
.influencer_icon {
  height: 15px;
  width: 15px;
  margin: auto 0;
}
.service {
  color: #0c43b7;
  font-size: 15px;
  float: right;
  margin-right: 18px;
  /* sx={{ color: "#0c43b7", fontSize: '15px', right}} */
}
.rightallign {
  float: right;
  margin-right: 18px;
}
.flex {
  display: flex;
}
.flipscreen {
  color: grey;
  font-weight: 400;
  margin-left: 15px;
  font-size: 14px;
}
.avatar {
  float: left;
  height: 38px;
  width: 38px;
}
.content {
  color: #404040;
  font-size: 16px;
  float: left;
  margin-left: 19px;
}
.date {
  margin-top: 10px;
  color: grey;
  font-weight: 400;
  font-size: 15px;
  margin-left: 19px;
}
.f {
  display: flex;
  margin-top: 5px;
}
.l {
  float: left;
}
.r {
  float: right;
}
.t {
  float: left;
  vertical-align: top;
}
.b {
  float: left;
  vertical-align: bottom;
}
