.fanicon {
  margin-top: 30px;
  width: 140px;
  height: 70px;
  float: right;
}
.blogicon {
  margin-top: 3px;
  width: 15px;
  height: 15px;
}
.flex {
  position: inline-block;
}
.flex2 {
  float: left;
}
.flex_allign {
  display: flex;
}
.header {
  color: grey;
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-left: 10px;
}
.header_sub {
  color: grey;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.contenttitle:hover {
  text-decoration: underline;
  color: #0c43b7;
}

.contenttitle_rightend {
  text-align: right;
}
.contenttitle_rightend:hover {
  text-decoration: underline;
  color: #0c43b7;
}

.title {
  font-weight: 700;
  color: #242424;
  font-size: 1rem;
  line-height: 1.8rem;
}
.subheader {
  font-size: 1rem;
  line-height: 20px;
  color: #666;
  font-weight: 700;
}
.detailsdepth {
  font-size: 1rem;
  line-height: 20px;
  color: #666;
  margin-left: 10px;
}
.magintop {
  margin-top: 6px;
}
.image {
  width: 100px;
  height: 100px;
  transition: all 0.2s ease-in-out;
}
.image:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
}
.image img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.rightend {
  text-align: right;
}
.right {
  margin-left: 250px;
}
.influencer_icon {
  height: 30px;
  width: 30px;
  margin: auto 0;
}
.rightallign {
  margin-left: 700px;
  display: block;
  z-index: 100;
}
.flex {
  display: flex;
}
.flipscreen {
  margin-left: 15px;
  font-size: 0.8rem;
}
