.linkArea {
    margin-inline: 18px;
    padding-block: 13px;
    border-top: solid rgb(244, 246, 247) 2px;
}

.linkAreaTimeLine {
    margin-top: 18px;
    padding-top: 13px;
    border-top: solid rgb(244, 246, 247) 1px;
}

.linkLine {
    border-left: solid rgb(234, 235, 236) 2px;
    padding-left: 11px;
    font-size: 0.86rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
